body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
}
h1 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.main-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #f3f7f8;
}
.top-menu a:active {
  opacity: 0.4;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.user-navigation a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}
.in::before {
  content: "";

  position: absolute;
  top:27px;
  left: 24px;

  width: 25px;
  height: 25px;

  background-image: url('..\img\icon-login.svg');
  background-position: 0 0;
  background-repeat: no-repeat;

}
.user-navigation a.in {
  width: 121px;
  height: 45px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 12px;
  padding-left: 50px;
}


.user-navigation a.reg {
  width: 150px;
  height: 45px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 12px;

}
.site-navigation a{
  color: #ffffff;
}
.user-nav-on {
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
}
.user-nav-on:hover,
.user-nav-on:focus {
  color: #ee3643;
}
.user-nav-on:active {
  opacity: 0.66;
  color: #000000;
}
.name {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}
.name:active {
  opacity: 0.66;
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #ffffff;
}
.site-navigation a:active {
  color: #ffffff;
  opacity: 0,5;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: red;
}
.user-navigation a:active {
  opacity: 0.33;
}
.top-menu {
  font-size: 17px;
  line-height: 18px;
}
.top-menu a{
  color: #ffffff;
}
.text-1 {
  font-size: 16px;
  font-style: italic;
  color: red;
  line-height: 23px;
}
.phone {
  font-size: 21px;
  color: #ee3643;
}
.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.about-us {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.transport-company {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.more-about {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  background-color: #ee3643;
}
.button {
  font: inherit;
  background-color: #ee3643;
  font-size: 14px;
  color:  #ffffff;
  line-height: 18px;
  text-transform: uppercase;
}
.btn-1 {
  width: 300px;
  height: 38px;
  border-radius: 6px;
  border: 3px solid #ffffff;
}
/*.footer-nav {
  background-color: #32425c;
  }
  */
.footer-menu {
  list-style: none;
}
.footer-menu-2 {
  list-style: none;
}
.footer-menu-2 a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}
.footer-menu a {
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 2px;
}
.adress-footer, .adress-footer a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
/*.footer-bottom {
  margin: 0px;
  background-color: #293449;
}
*/
.footer-social {
  list-style: none;
}
.footer-menu-top li {
  list-style: none;
}
.footer-menu-top a {
  color: #ffffff;
}
.social-button {
  color: #ffffff;
}
.autor, .back {
  font-size: 16px;
  line-height: 18px;
}
.autor a, .back a {
  color: #ffd180;
}
.autor a:hover,
.autor a:focus,
.back a:hover,
.back a:focus {
  text-decoration: underline;
}
.autor a:active,
.back a:active {
  color: #ee3643;
}

.footer-menu-2 li a:hover,
.footer-menu-2 li a:focus,
.footer-menu-top li a:hover,
.footer-menu-top li a:focus {
  text-decoration: underline;
}

.footer-menu-2 li a:active,
.footer-menu-top li a:active {
  opacity: 0.5;
  text-decoration: none;
}
.breadcrumbs li a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.filter-brand-energy legend {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.filter-brand-energy ul {
  color: #000000;
  font-size: 15px;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
}
.filter-button {
  color: #000000;
  font-size: 13px;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}
.item a {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 20px;
}
.old-price {
  color: #999999;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  text-decoration: line-through;
}
.price a {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  background-color: #ee3643;
}
.buy-button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-transform: uppercase;
}
.push-bookmark-button {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.push-bookmark-button:active {
  opacity: 0.66;
}
.modal {
  display: none;
}
/*-----стили для сеток -----*/
html, body {
  min-width: 1200px;
  min-height: 3151px;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.index {
 /* ______________________________Временно для сетки__________________________________________________ */
  background-image: url('../img/technomart-index.jpg');
  background-size: 1200px auto;
  background-repeat: no-repeat;
}
.catalog_2 {
  background-image: url('../img/technomart-catalog.jpg');
  background-size: 1200px auto;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
  height: 320px;
}
.container {
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
}
.footer {
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
  height: 300px;
}
.main-block1 {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 498px;
}
.popular-items {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 460px;
}
.popular-manufacturers {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 510px;
}

.slider-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 525px;
}
.index-columns {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 539px;
}
.about-company
.contact-map

.footer-nav {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 943px;
  height: 195px;
  display: block;
}
.footer-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 105px;
  display: block;
}
.main-navigation {
  width: 942px;
  height: 260px;
  outline: 2px solid green;
  outline-offset: -2px;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header-top {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 942px;
  height: 42px;
  display: flex;
}
.header-middle {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 942px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 28px;
  display: flex;
}
.site-navigation {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 942px;
  height: 60px;
  background-colr: #32425c;
  position: 0 0;
  background-repeat: no-repeat;

}
.main-heder-logo {
  width: 223px;
  height: 42px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: block;
}
.search {
  width: 234px;
  height: 42px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 52px;
  margin-top: 11px;
}
.search_field {
  background-colr: #32425c;
}

.top-menu {
  width: 444px;
  height: 42px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 11px;
  margin-left: 26px;
}
.top-menu a {
  padding: 0px 20px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
}
.text-1 {
  width: 282px;
  height: 100px;
  overflow: hidden;
  margin-left: 53px;
  margin-top: 19px;
}
.contact-header {
  width: 350px;
  height: 100px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.user-navigation {
  width: 310px;
  height: 100px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.site-navigation ul {
  outline: 2px solid yellow;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0;
  padding-top: 20px;
  padding-right: 57px;
  width: 943px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  list-style: none;

}
.phone {
  width: 269px;
  height: 46px;
  border: 4px solid #ffffff;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  margin-top: 15px;
  margin-left: 3px;
}
.adress {
  width: 270px;
  height: 30px;
  letter-spacing: 0.4px;
  padding-left: 8px;
  padding-top: 12px;
  display: flex;
  margin-left: 3px;
  margin-top: -8px;
  align-items: stretch;

}

/*------main------*/
.main-block1,
.popular-items,
.popular-manufacturers,
.slider-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  width: 943px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.blocks-mini-1-3 {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 943px;
  height: 125px;
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}
ul.blocks-mini-1-3 {
  margin: 0;
  margin-top: 58px;
  padding: 0;
}

.blocks-mini-1-3 li {
  outline: 2px solid blue;
  outline-offset: -2px;
  list-style: none;
  width: 300px;
  height: 123px;
}
ul.slider-block1 {
  padding: 0;
}
.slider-block1 li{
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 622px;
  height: 268px;
}
.blocks-mini-4-5 {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: flex;
  width: 300px;
  height: 268px;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
  padding: 0;
}
.blocks-mini-4-5 li {
  outline: 2px solid blue;
  outline-offset: -2px;
  list-style: none;
  width: 300px;
  height: 125px;
}
.h-field {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 940px;
  height: 89px;
  display: flex;
  justify-content: space-between;
}
.popular-items .h-field {
  margin-top: 24px;
}
.popular-items-list {
  outline: 2px solid blue;
  outline-offset: -2px;
  width: 943px;
  height: 320px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.popular-items-list li {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 220px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-manufacturers .h-field {
  margin-top: 10px;
}
.popular-manufacturers-list {
  outline: 2px solid blue;
  outline-offset: -2px;
  width: 943px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
ul.popular-manufacturers-list {
  margin: 0;
  padding: 0;
}
.popular-manufacturers-list li {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 220px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-columns {
  width: 942px;
  height: 540px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
}
.about-company {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 570px;
  height: 540px;
}
.contact-map {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 375px;
  height: 540px;
}



/*------footer------*/

.footer-nav {
  outline: 2px solid green;
  outline-offset: -2px;
  height: 193px;
}
.footer-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  height: 109px;

}
.footer-menu-1 {
  width: 943px;
  height: 90px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer-menu-2 {
  width: 943px;
  height: 103px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: -16px;
}

.footer-logo {
  width: 220px;
  height: 67px;
  background-color: red;
  display: block;
}
.footer-menu-top {
  width: 590px;
  height: 42px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
}

.adress-footer {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 390px;
  height: 64px;
  overflow: hidden;
  padding: 1px;
  padding-top: 2px;
  letter-spacing: 0.6px;
}
.footer-menu-middle {
  width: 584px;
  height: 42px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 2px;
}
.wrapper {
  width: 943px;
  height: 107px;
  outline: 2px solid blue;
  outline-offset: -2px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  width: 246px;
  height: 90px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  margin-top: 12px;
  padding: 1px;
}

.footer-social {
  width: 240px;
  height: 90px;
  display: flex;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  list-style: none;
  margin-left: 55px;
}
.social-button {
  width: 43px;
  height: 43px;
  display: flex;
  background-color: #212a3a;
  border: 1px solid #212a3a;
  border-radius: 50%;
  margin-top: 23px;
  margin-right: 3px;
  align-content: center;
  justify-content: center;


}
.button-vk {
  padding-top: 15px;
}
.button-fb {
  padding-top: 10px;
}
.button-inst {
  padding-top: 10px;
}

.back-autor {
  width: 310px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin-left: 2px;
  margin-top: 15px;

  outline: 2px solid greenyellow;
  outline-offset: -2px;
}
/*----------catalog------------------------------------------------*/
.main-catalog {
  outline: 2px solid red;
  outline-offset: -2px;
  height: 1630px;
}
.main-center {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 946px;
  height: 1630px;
  margin: 0 auto;
}
.breadcrumbs-catalog {
  width: 946px;
  height: 60px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
}
.name {
  width: 946px;
  height: 88px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
}

.text-2 {
  width: 946px;
  height: 259px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin-top: 1226px;

}
.filter-items {
  width: 946px;
  height: 1226px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.filter-all {
  outline: 2px solid magenta;
  outline-offset: -2px;
  width: 246px;
  height: 1223px;
  overflow: hidden;
}
.items-catalog {
  outline: 2px solid magenta;
  outline-offset: -2px;
  width: 703px;
  height: 1223px;
  overflow: hidden;
}
.filter-select {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 222px;
  height: 269px;
  margin-right: 10px;
}
.filter-brand-energy {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 220px;
  height: 269px;
  margin-right: 10px;
}
.sort {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 700px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 17px;
}
.items-card {
  outline: 2px solid black;
  outline-offset: -2px;
  width: 700px;
  height: 1146px;
  display: flex;
  flex-direction: column;
}
.items-card-list {
  width: 700px;
  height: 1020px;
  outline: 2px solid crimson;
  outline-offset: -2px;
}
.items-card-navigation {
  width: 500px;
  height: 40px;
  outline: 2px solid crimson;
  outline-offset: -2px;
  margin-bottom: 60px;
  margin-top: 52px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
