body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
}
h1 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.main-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #f3f7f8;
}
.top-menu a:active {
  opacity: 0.4;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.user-navigation a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}
.site-navigation a{
  color: #ffffff;
}
.user-nav-on {
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
}
.user-nav-on:hover,
.user-nav-on:focus {
  color: #ee3643;
}
.user-nav-on:active {
  opacity: 0.66;
  color: #000000;
}
.name {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}
.name:active {
  opacity: 0.66;
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #ffffff;
}
.site-navigation a:active {
  color: #ffffff;
  opacity: 0,5;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: red;
}
.user-navigation a:active {
  opacity: 0.33;
}
.top-menu {
  font-size: 17px;
  line-height: 18px;
}
.top-menu a{
  color: #ffffff;
}
.text-1 {
  font-size: 16px;
  font-style: italic;
  color: red;
  line-height: 23px;
}
.phone {
  font-size: 21px;
  color: #ee3643;
}
.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.about-us {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.transport-company {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.more-about {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  background-color: #ee3643;
}
.button {
  font: inherit;
  background-color: #ee3643;
  font-size: 14px;
  color:  #ffffff;
  line-height: 18px;
  text-transform: uppercase;
}
.btn-1 {
  width: 300px;
  height: 38px;
  border-radius: 6px;
  border: 3px solid #ffffff;
}
.footer-nav {
  background-color: #32425c;
  }
.footer-menu {
  list-style: none;
}
.footer-menu-2 {
  list-style: none;
}
.footer-menu-2 a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}
.footer-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.adress-footer, .adress-footer a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.footer-bottom {
  margin: 0px;
  background-color: #293449;
}

.footer-social {
  list-style: none;
}

.social-button {
  color: #ffffff;
}
.autor, .back {
  font-size: 16px;
  line-height: 18px;
}
.autor a, .back a {
  color: #ffd180;
}
.autor a:hover,
.autor a:focus,
.back a:hover,
.back a:focus {
  text-decoration: underline;
}
.autor a:active,
.back a:active {
  color: #ee3643;
}

.footer-menu-2 li a:hover,
.footer-menu-2 li a:focus,
.footer-menu li a:hover,
.footer-menu li a:focus {
  text-decoration: underline;
}

.footer-menu-2 li a:active,
.footer-menu li a:active {
  opacity: 0.5;
  text-decoration: none;
}
.breadcrumbs li a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.filter-brand-energy legend {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.filter-brand-energy ul {
  color: #000000;
  font-size: 15px;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
}
.filter-button {
  color: #000000;
  font-size: 13px;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}
.item a {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 20px;
}
.old-price {
  color: #999999;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  text-decoration: line-through;
}
.price a {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  background-color: #ee3643;
}
.buy-button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-transform: uppercase;
}
.push-bookmark-button {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.push-bookmark-button:active {
  opacity: 0.66;
}
.modal {
  display: none;
}
/*-----стили для сеток -----*/
html, body {
  min-width: 1200px;
  min-height: 3151px;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.index {
 /* ______________________________Временно для сетки__________________________________________________ */
  background-image: url('../img/technomart-index.jpg');
  background-size: 1200px auto;
  background-repeat: no-repeat;
}
.catalog_2 {
  background-image: url('../img/technomart-catalog.jpg');
  background-size: 1200px auto;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
  height: 320px;
}
.container {
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
}
.footer {
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
  height: 300px;
}
.main-block1 {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 500px;
}
.popular-items {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 460px;
}
.popular-manufacturers {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 510px;
}

.slider-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 525px;
}
.index-columns {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 539px;
}
.about-company
.contact-map

.footer-nav {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 943px;
  height: 195px;
  display: block;
}
.footer-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 105px;
  display: block;
}
.main-navigation {
  width: 942px;
  height: 260px;
  outline: 2px solid green;
  outline-offset: -2px;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header-top {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 942px;
  height: 42px;
  display: flex;
}
.header-middle {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 942px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 28px;
  display: flex;
}
.site-navigation {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 942px;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: stretch;
  justify-content: space-between;
}
.main-heder-logo {
  width: 223px;
  height: 42px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: block;
}
.search {
  width: 274px;
  height: 42px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
}
.top-menu {
  width: 452px;
  height: 42px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}
.text-1 {
  width: 282px;
  height: 100px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
}
.contact-header {
  width: 350px;
  height: 100px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.user-navigation {
  width: 310px;
  height: 100px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
}
.site-navigation ul {
  outline: 2px solid yellow;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  list-style: none;
  align-items: center;
}
.site-navigation ul li {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: block;
  padding: 20px 28px;
}
.top-menu a {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: block;
  width: 150px;
  height: 42px;
  padding: 20px 28px;
  margin: 0 auto;
}
.phone {
  display: block;
  width: 270px;
  height: 45px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  margin: 0 auto;
  margin-top: 16px;
}
.adress {
  display: inline-block;
  width: 270px;
  height: 36px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  margin: 0 auto;
}

/*------main------*/

.index-columns {
  width: 942px;
  height: 540px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
}
.about-company {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 570px;
  height: 540px;
}
.contact-map {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 375px;
  height: 540px;
}



/*------footer------*/

.footer-nav {
  outline: 2px solid green;
  outline-offset: -2px;
  height: 193px;
}
.footer-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  height: 107px;
}
.footer-menu-1 {
  width: 943px;
  height: 90px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}
.footer-menu-2 {
  width: 943px;
  height: 103px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 220px;
  height: 68px;
  background-color: red;
  display: block;
}
.footer-menu-top {
  width: 555px;
  height: 42px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  margin-right: 50px;
}
.adress-footer {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 350px;
  height: 65px;
  overflow: hidden;
}
.footer-menu-middle {
  width: 535px;
  height: 42px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  margin-right: 50px;
}
.wrapper {
  width: 943px;
  height: 107px;
  outline: 2px solid blue;
  outline-offset: -2px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer-copyright {
  width: 245px;
  height: 90px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: block;
}

.footer-social {
  width: 240px;
  height: 90px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: block;
}
.back-autor {
  width: 313px;
  height: 90px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: block;
}
/*----------catalog------------------------------------------------*/
.main-catalog {
  outline: 2px solid red;
  outline-offset: -2px;
  height: 1630px;
}
.main-center {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 946px;
  height: 1630px;
  margin: 0 auto;
}
.breadcrumbs-catalog {
  width: 946px;
  height: 60px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
}
.name {
  width: 946px;
  height: 88px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
}

.text-2 {
  width: 946px;
  height: 259px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin-top: 1226px;

}
.filter-items {
  width: 946px;
  height: 1226px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
}
.filter-all {
  outline: 2px solid magenta;
  outline-offset: -2px;
  width: 246px;
  height: 1223px;
  overflow: hidden;
}
.items-catalog {
  outline: 2px solid magenta;
  outline-offset: -2px;
  width: 703px;
  height: 1223px;
  overflow: hidden;
}
.filter-select {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 222px;
  height: 269px;
  margin-right: 10px;
}
.filter-brand-energy {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 220px;
  height: 269px;
  margin-right: 10px;
}
.sort {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 700px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.items-card {
  outline: 2px solid black;
  outline-offset: -2px;
  width: 700px;
  height: 1146px;
}
.items-card-list {
  width: 700px;
  height: 996px;
  outline: 2px solid crimson;
  outline-offset: -2px;
}
.items-card-navigation {
  width: 700px;
  height: 38px;
}
