body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
}
h1 {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.button {
  background-color: #ee3643;
  border: 2px solid #ee3643;
  border-radius: 3px;
  text-align: center;
  margin: 0;
  height: 38px;
  padding-top: 10px;
}
.button {
  font-size: 14px;
  color:  #ffffff;
  line-height: 18px;
  text-transform: uppercase;
}
.btn-pop {
  width: 253px;
  margin-top: 25px;
  margin-right: 22px;
}
.btn-slider {
  width: 195px;
}
.btn-slider:hover {
  background-color: #ca2c37;
  border-color: #ca2c37;
}
.btn-slider:active {
  background-color: #ba2732;
  border-color: #ba2732;
}
.btn-about {
  width: 220px;
  padding: 10px 39px;
}
.btn-1 {
  width: 300px;
  height: 38px;
  border-radius: 3px;
  font-family: "Cuprum", Arial, sans-serif;
  padding-top: 5px;
  margin-left: 2px;
}
.btn-slider-credit {
  border-radius: 3px;
  font-family: "Cuprum", Arial, sans-serif;
  padding: 10px;
  width: 194px;
  height: 40px;
  margin-left: 82px;
  margin-top: 20px;
}
.btn-modal {
  position: absolute;
  bottom: 40px;
  width: 460px;
  margin: 0 80px;
  padding-top: 4px;
}
.header {
  background-color: #f1f5f7;
}

.header-top-background-1 {
  background-color: #293449;
  width: 0 auto;
}
.main-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}
.top-menu a:active {
  opacity: 0.4;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.user-navigation a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}
.user-navigation a.in {
  width: 121px;
  height: 45px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 13px;
  padding-left: 20px;
  margin-top: 16px;
  margin-left: 8px;
  position: relative;
}
.user-navigation a.in::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 14px;
  width: 20px;
  height: 17px;
  opacity: 1;

  background-image: url('../img/icon-login.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation a.reg {
  width: 150px;
  height: 45px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 13px;
  margin-top: 16px;
}

.site-navigation li:hover,
.site-navigation li:focus {
  background-color: #293449;
}
.user-nav-on {
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
}
.user-nav-on:hover,
.user-nav-on:focus {
  color: #ee3643;
}
.user-nav-on:active {
  opacity: 0.66;
  color: #000000;
}
.name {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}
.name:active {
  opacity: 0.66;
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #ffffff;
}
.site-navigation a:active {
  color: #ffffff;
  opacity: 0,5;
}
.user-navigation a:hover,
.user-navigation a:focus {
  color: red;
}
.user-navigation a:active {
  opacity: 0.33;
}
.top-menu {
  font-size: 17px;
  line-height: 18px;
}
.top-menu a{
  color: #ffffff;
}
.text-1 {
  font-size: 16px;
  font-style: italic;
  color: red;
  line-height: 23px;
}
.phone {
  font-size: 21px;
  color: #ee3643;
}
.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.about-us {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.transport-company {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.footer-menu {
  list-style: none;
}
.footer-menu-2 {
  list-style: none;
}
.footer-menu-2 a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}
.footer-menu a {
  font-size: 23px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 2px;
}
.adress-footer, .adress-footer a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.footer-social {
  list-style: none;
}
.footer-menu-top li {
  list-style: none;
}
.footer-menu-top a {
  color: #ffffff;
}
.social-button {
  color: #ffffff;
}
.autor, .back {
  font-size: 16px;
  line-height: 18px;
}
.autor a, .back a {
  color: #ffd180;
}
.autor a:hover,
.autor a:focus,
.back a:hover,
.back a:focus {
  text-decoration: underline;
}
.autor a:active,
.back a:active {
  color: #ee3643;
}

.footer-menu-2 li a:hover,
.footer-menu-2 li a:focus,
.footer-menu-top li a:hover,
.footer-menu-top li a:focus {
  text-decoration: underline;
}

.footer-menu-2 li a:active,
.footer-menu-top li a:active {
  opacity: 0.5;
  text-decoration: none;
}
.breadcrumbs li a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.filter-brand-energy legend {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.filter-brand-energy ul {
  color: #000000;
  font-size: 15px;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
}
.filter-button {
  color: #000000;
  font-size: 13px;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}
.item a {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 20px;
}
.old-price {
  color: #999999;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  text-decoration: line-through;
}
.price a {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  line-height: 18px;
  background-color: #ee3643;
}
.buy-button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-transform: uppercase;
}
.push-bookmark-button {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.push-bookmark-button:active {
  opacity: 0.66;
}
.modal {
  display: none;
}
/*-----стили для сеток -----*/
html, body {
  min-width: 1200px;
  min-height: 3151px;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.index {
 /* ______________________________Временно для сетки__________________________________________________ */
  background-image: url('../img/technomart-inde.jpg');
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.catalog_2 {
  background-image: url('../img/technomart-catalog.jpg');
  background-size: 1200px auto;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
  height: 320px;
}
.container {
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
}
.footer {
  outline: 2px solid red;
  outline-offset: -2px;
  overflow: hidden;
  height: 300px;
  background-color: #32425c;
}
.main-block1 {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 498px;
}
.popular-items {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 460px;
}
.popular-manufacturers {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 510px;
}

.slider-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 525px;

}
.wrapper-slider-1 {
  width: 100%;
  background-color: #f4f8f9;
}
.index-columns {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  min-height: 539px;
}
.footer-nav {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 943px;
  height: 195px;
  display: block;
  margin: 0 auto;
}
.footer-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  height: 105px;
  display: block;
}
.main-navigation {
  width: 942px;
  height: 260px;
  outline: 2px solid green;
  outline-offset: -2px;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header-top {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 942px;
  height: 42px;
  display: flex;
  background-color: #293449;
}
.wrapper-1 {
  outline: 2px solid yellow;
  outline-offset: -2px;
  width: 100%;
}
.header-middle {
  overflow: hidden;
  width: 942px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 28px;
  display: flex;
}
.site-navigation {
  overflow: hidden;
  width: 942px;
  height: 60px;
  background-color: #32425c;

}
.site-navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-right: 33px;
}
.site-navigation li {
  height: 60px;
  padding-top: 20px;
  padding: 20px 29px;
}
.site-navigation a{
  color: #ffffff;
  letter-spacing: 0.4px;
}

.main-heder-logo {
  width: 223px;
  height: 42px;
  display: block;

  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  box-shadow: 0px 9px 0px 0px #b52933;
}
.main-heder-logo:hover,
.main-heder-logo:focus {
  background-image: url('../img/logo-hover.png');
  background-repeat: no-repeat;

}
.main-heder-logo:active {
  background-image: url('../img/logo-active.png');
  background-repeat: no-repeat;
}
.search {
  width: 270px;
  height: 42px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 46px;
  padding-top: 11px;
  position: relative;
}
input.search_field {
  border: none;
  outline: none;
  background: transparent;
}
.search:hover {
  background-color: #212a3a;
}
.search:focus {

  background-color: white;
}
.search:active {
  background-color: transparent;
}
.search_field:focus {
  border: none;
  outline: none;
  background-color: white;
}
.search::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  width: 16px;
  height: 16px;
  opacity: 0.33;

  background-image: url('../img/icon-search.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.top-menu {
  width: 450px;
  height: 42px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
p.top-menu {
  margin: 0;
}
.top-menu a {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  height: 42px;
  width: 150px;
}
.oder {
  padding-top: 13px;
  padding-left: 20px;
  background-color: #63a63e;
}
.bookmark {
  padding-top: 12px;
  padding-left: 42px;
  position: relative;
}
.oder:focus,
.oder:hover {
  background-color: #5fbb2d;
}
.cart:focus,
.cart:hover,
.bookmark:focus,
.bookmark:hover {
  background-color: #212a3a;
}
.cart:active,
.bookmark:active {
  background-color: #161d29;
}
.bookmark {
  background-image: url('../img/icon-bookmark-wite.svg');
  background-position: 16px 12px;
  background-repeat: no-repeat;
}
.cart {
  padding-top: 12px;
  padding-left: 47px;
  position: relative;
}
.cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;
  width: 16px;
  height: 16px;
  opacity: 0.33;

  background-image: url('../img/icon-cart.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.text-1 {
  width: 282px;
  height: 100px;
  overflow: hidden;
  margin-left: 53px;
  margin-top: 19px;
}
.contact-header {
  width: 350px;
  height: 100px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.user-navigation {
  width: 310px;
  height: 100px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position: relative;
}
p.user-navigation {
  margin: 0;
}
.phone {
  width: 269px;
  height: 46px;
  border: 4px solid #ffffff;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  margin-top: 15px;
  margin-left: 3px;
  position: relative;
}
.phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 11px;
  width: 19px;
  height: 19px;

  background-image: url('../img/icon-phone.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}
a.phone {
  font-size: 21px;
  color: #e9292a;
  line-height: 21px;
  display: inline-block;
  padding: 10px;
  padding-left: 69px;
}
.adress {
  width: 270px;
  height: 30px;
  display: flex;
  padding-top: 5px;
  letter-spacing: 0.082px;
  padding-left: 10px;
}
p.adress {
  margin: 0;
}
/*------main------*/
.main-block1,
.popular-items,
.popular-manufacturers,
.slider-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  width: 943px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.popular-manufacturers {
  flex-direction: column;
}
.blocks-mini-1-3 {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 943px;
  height: 125px;
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}
.blocks-mini-1-materials::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;

  background-image: url('../img/new_flag.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
ul.blocks-mini-1-3 {
  margin: 0;
  margin-top: 58px;
  padding: 0;
}
.main-block1 h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px;
}
.blocks-mini-1-3 li {
  outline: 2px solid blue;
  outline-offset: -2px;
  list-style: none;
  width: 300px;
  height: 123px;
}
.slider-block1 {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  list-style: none;
  width: 620px;
  height: 266px;
  margin: 0;
  margin-top: -7px;
  margin-left: 2px;
  padding: 0;
  position: relative;
}
.slider-block1 li {
  width: inherit;
  height: inherit;
  position: absolute;
}
.slider-block1 p {
  position: absolute;
  top: 25px;
  left: 26px;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.slider-block1 span {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  letter-spacing: 0.15px;
}
.slider-block1 a {
  position: absolute;
  bottom: 25px;
  left: 24px;
}
.slider-block1::after {
  content: "";

  position: absolute;
  top: 112px;
  left: 24px;
  width: 22px;
  height: 40px;

  background-image: url('../img/icon-left-2.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.slider-block1 span::after {
  content: "";

  position: absolute;
  top: 86px;
  left: 552px;
  width: 22px;
  height: 40px;

  background-image: url('../img/icon-right-2.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.blocks-mini-4-5 {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: flex;
  width: 300px;
  height: 268px;
  flex-direction: column;
  margin: 0;
  margin-top: -10px;
  margin-left: 20px;
  justify-content: space-between;
  padding: 0;
}
.blocks-mini-4-5 li {
  outline: 2px solid blue;
  outline-offset: -2px;
  list-style: none;
  width: 300px;
  height: 125px;
  display: flex;
}
.blocks-mini-1-materials {
  background-color: #ffbf47;
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  padding-left: 25px;
  position: relative;
}
.blocks-mini-1-materials {

  background-image: url('../img/icon-1.svg');
  background-position: 215px 34px;
  background-repeat: no-repeat;
}

.blocks-mini-2-tools {
  background-color: #3bbce3;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 24px;
  position: relative;
}
.blocks-mini-2-tools {
  background-image: url('../img/icon-2.svg');
  background-position: 196px 35px;
  background-repeat: no-repeat;
}
.blocks-mini-3-technique {
  background-color: #dc91d8;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 22px;
  position: relative;
}
.blocks-mini-3-technique {
  background-image: url('../img/icon-3.svg');
  background-position: 190px 35px;
  background-repeat: no-repeat;
}
.blocks-mini-4-discount {
  background-color: #8ed78f;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 22px;
  position: relative;
}
.blocks-mini-4-discount {
  background-image: url('../img/icon-4.svg');
  background-position: 195px 27px;
  background-repeat: no-repeat;
}
.blocks-mini-4-delivery {
  background-color: #ffc047;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 23px;
  position: relative;
}
.blocks-mini-4-delivery {
  background-image: url('../img/icon-5.svg');
  background-position: 192px 32px;
  background-repeat: no-repeat;
}

.btn {
  width: 135px;
  height: 38px;
  color: inherit;
  background-image: url('../img/btn.png');
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 13px;
}
.btn:hover,
.btn:focus {
  background-image: url('../img/btn-hover.png');
}
.btn:active {
  background-image: url('../img/btn-active.png');
}
.btn-color {
  color: #ffffff;
}

.h-field {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 940px;
  height: 89px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
}
.h-field h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  padding-top: 5px;
  padding-left: 28px;
  letter-spacing: -0.7px;
}
.popular-items .h-field {
  margin-top: 24px;
}
.popular-items-list {
  width: 943px;
  height: 320px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.popular-items-list li {
  width: 221px;
  height: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 0.2px solid lightgray;
}
.popular-items-list img {
  padding-left: 2px;
  padding-top: 2px;
}
.popular-items-list li:focus,
.popular-items-list li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.popular-items-list h3{
  margin: 0;
  color: #000000;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
}
.popular-items-list h3 a {
  color: #000000;
}

li.new-flag::after {
  content: "";

  position: absolute;

  right: 0;
  width: 60px;
  height: 59px;

  background-image: url('../img/new_flag.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.last-price {
  color: #a9a9a9;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: line-through;
  margin: 0;
  padding-top: 11px;
}
p.last-price {
  letter-spacing: -0.4px;
}
.items-price {
  color: #ffffff;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding-top: 12px;
  padding-left: 2px;

  background-image: url('../img/btn-style-price.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
a.items-price {
  letter-spacing: -0.5px;
  width: 142px;
  height: 42px;
  margin-left: 43px;
  margin-top: 9px;
  padding-bottom: 3px;
}
a.last-price-off {
  margin-left: 42px;
  margin-top: 38px;
}

.popular-manufacturers .h-field {
  margin-top: 10px;
}
.popular-manufacturers-list {
  outline: 2px solid blue;
  outline-offset: -2px;
  width: 943px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 21px;
}
.popular-manufacturers-list li {
  width: 220px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2px solid lightgray;
}
.popular-manufacturers-list li:hover,
.popular-manufacturers-list li:focus {
  width: 220px;
  height: 145px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.popular-manufacturers-list a:active {
  opacity: 0.3;
}
/*------slider-bottom------*/
.slider-bottom {
  outline: 2px solid rgb(250, 233, 1);
  outline-offset: -2px;
  background-colr: #f4f7f9;
}
.service {
  outline: 2px solid blue;
  outline-offset: -2px;
  width: 943px;
  height: 100px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #000000;

  font-family: PT Sans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.service h2, .service p {
  margin: 0;
  padding: 0;
}
.service h2 {
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.3px;
}
.service p {
  padding-top: 25px;
  letter-spacing: 0.111px;
}
.wrapper-slider {
  outline: 2px solid blue;
  outline-offset: -2px;
  width: 943px;
  min-height: 358px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
ul.slide-menu {
  width: 240px;
  height: 360px;

  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  margin-top: 73px;
  position: relative;
}
.slide-menu-active::before {
  content: "";

  position: absolute;
  width: 9px;
  height: 260px;
  left: 231px;
  top: -40px;

  background-image: url('../img/line_service_vertical.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.slide-menu li {
  width: 240px;
  height: 61px;
  display: flex;
  align-items: center;
  background-color: #32425c;
  box-shadow: inset 0 -2px 0 0 #293449;
  box-shadow: inset 0 -1px 0 0 #405069;
}
.slide-menu li:hover {
  background-color: #293449;
}
.slide-menu li:focus,
.slide-menu li:active,
li.slide-menu-active {
  background-color: #ffffff;
}
li.slide-menu-active:hover {
  background-color: #ffffff;
}
.slide-menu a {
  color: #ffffff;
  font-family: Cuprum, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  padding: 15px 24px;
  letter-spacing: 0.33px;
  padding-right: 130px;
}

ul.transport-company li{
  position: relative;
}
ul.transport-company li::before {
  position: absolute;
  top: -4px;
  left: -33px;
  content: url('../img/red-line.png');
}

.jeldor::before {
  content: url('../img/red-line.png');
}
.avtotreding::before {
  content: url('../img/red-line.png');
}
.slide-menu-active a {
  color: #32425c;
}
.slide-name-img {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 699px;
}
.slide-name-img li {
  width: 699px;
  display: flex;
  list-style: none;
  color: #000000;
}
.slide-name-img img {
  margin-top: 50%;
}
.slide-delivery {
  background-image: url('../img/track.png');
  background-position: 233px 97px;
  background-repeat: no-repeat;
}
.slide-garanty {
  background-image: url('../img/garanty.png');
  background-position: 315px 71px;
  background-repeat: no-repeat;
}
.slide-credit {
  background-image: url('../img/credit.png');
  background-position: 250px 71px;
  background-repeat: no-repeat;
}
.slide-name-img h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  margin-top: 72px;
  margin-left: 78px;
  letter-spacing: -0.36px;
}
.slide-name-img p {
  text-align: left;
  color: #000000;

  font-family: PT Sans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-left: 82px;
  padding-top: 11px;
  display: flex;
  width: 699px;
}
.index-columns {
  width: 942px;
  height: 540px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.about-company {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 570px;
  height: 540px;
}
.about-company h2 {
  margin: 0;
  margin-top: 82px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.66px;
}
.about-company p {
  padding-top: 12px;
}
p.about-us {
  letter-spacing: 0.168px;
  padding-left: 1px;
}
p.about-us-2 {
  color: #000000;
  letter-spacing: 0.089px;
  padding-left: 1px;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.about-company ul {
  margin: 0;
  list-style: none;
  min-height: 108px;
  padding-left: 37px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 45px;
}
.map-img {
  margin: 30px 0px;
  margin-bottom: 37px;
}

.contact-map {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 303px;
  height: 540px;
}
.contact-map h2 {
  margin: 0;
  margin-top: 82px;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.66px;
}


/*------footer------*/

.footer-nav {
  outline: 2px solid green;
  outline-offset: -2px;
  height: 193px;
  background-color: #32425c;
}
.footer-bottom {
  outline: 2px solid green;
  outline-offset: -2px;
  height: 109px;
  background-color: #293449;

}
.footer-menu-1 {
  width: 943px;
  height: 90px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer-menu-2 {
  width: 943px;
  height: 103px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: -16px;
}

.footer-logo {
  width: 220px;
  height: 67px;
  background-color: red;
  display: block;
}
.footer-menu-top {
  width: 588px;
  height: 42px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
}
.footer-menu-top a {
  letter-spacing: 0.45px;
}

.adress-footer {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 390px;
  height: 64px;
  overflow: hidden;
  padding: 1px;
  padding-top: 1px;
  padding-left: 4px;
}
.tel-adress-footer {
  padding-left: 2px;
}
.footer-menu-middle {
  width: 584px;
  height: 42px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 3px;
  padding-right: 1px;
}
.wrapper {
  width: 943px;
  height: 107px;
  outline: 2px solid blue;
  outline-offset: -2px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  width: 246px;
  height: 90px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  margin-top: 12px;

}
.footer-copyright p {
  padding-top: 2px;
  padding-left: 3px;
  letter-spacing: -0.42px;
}

.footer-social {
  width: 240px;
  height: 90px;
  display: flex;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  list-style: none;
  margin-left: 55px;
}
.social-button {
  width: 43px;
  height: 43px;
  display: flex;
  background-color: #212a3a;
  border: 1px solid #212a3a;
  border-radius: 50%;
  margin-top: 23px;
  margin-right: 3px;
  align-content: center;
  justify-content: center;
}
.footer-social a:focus,
.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}
.button-vk {
  padding-top: 15px;
}
.button-fb {
  padding-top: 10px;
}
.button-inst {
  padding-top: 10px;
}

.back-autor {
  width: 310px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  letter-spacing: 0.1px;
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 13px;
}

/*----------catalog------------------------------------------------*/
.main-catalog {
  outline: 2px solid red;
  outline-offset: -2px;
  height: 1630px;
}
.main-center {
  outline: 2px solid green;
  outline-offset: -2px;
  overflow: hidden;
  width: 946px;
  height: 1630px;
  margin: 0 auto;
}
.breadcrumbs-catalog {
  width: 946px;
  height: 60px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
}
.name {
  width: 946px;
  height: 88px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
}

.text-2 {
  width: 946px;
  height: 259px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  margin-top: 1226px;

}
.filter-items {
  width: 946px;
  height: 1226px;
  outline: 2px solid blue;
  outline-offset: -2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.filter-all {
  outline: 2px solid magenta;
  outline-offset: -2px;
  width: 246px;
  height: 1223px;
  overflow: hidden;
}
.items-catalog {
  outline: 2px solid magenta;
  outline-offset: -2px;
  width: 703px;
  height: 1223px;
  overflow: hidden;
}
.filter-select {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 222px;
  height: 269px;
  margin-right: 10px;
}
.filter-brand-energy {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 220px;
  height: 269px;
  margin-right: 10px;
}
.sort {
  outline: 2px solid greenyellow;
  outline-offset: -2px;
  width: 700px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 17px;
}
.items-card {
  outline: 2px solid black;
  outline-offset: -2px;
  width: 700px;
  height: 1146px;
  display: flex;
  flex-direction: column;
}
.items-card-list {
  width: 700px;
  height: 1020px;
  outline: 2px solid crimson;
  outline-offset: -2px;
}
.items-card-navigation {
  width: 500px;
  height: 40px;
  outline: 2px solid crimson;
  outline-offset: -2px;
  margin-bottom: 60px;
  margin-top: 52px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal {
  display: flex;
  color: #000000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;

  position: fixed;
}
.modal-login {
  bottom: 210px;
  left: 50%;
  margin-left: -311px;

  width: 622px;
  height: 426px;

  border-top: 7px solid #ff5257;
  box-shadow: 0 30px 30px rgba(0,0,0,0.6);
}
.modal-close {
  width: 25px;
  height: 25px;
  background-image: url('../img/modal-close-button.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: white;
  border: 0;
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-bottom {
  position: absolute;
  bottom: 0;
  width: 622px;
  height: 115px;
  background-color: #f4f4f4;
  margin: 0;
}

